<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#!/"><span class="glyphicon glyphicon-chevron-left"></span> Moviesta</a>
            <a class="navbar-brand visible-xs" href="#!/">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class=" searchbar col-sm-3 col-md-5 hidden-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="model.user._id" href="#!/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a ng-show="!model.user._id" href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a ng-show="!model.user._id" href="#!/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                <li><a ng-show="model.user._id" ng-click="model.logout()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>

        </div>

        <div class=" searchbar visible-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="bdy container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="profile">
                <img class="img img-responsive" ng-src="https://image.tmdb.org/t/p/w396/{{model.cast.profile_path}}" src="https://image.tmdb.org/t/p/w396/{{model.cast.profile_path}}">
            </div>
        </div>
        <div class="col-lg-8 col-sm-8 col-md-8">
            <h3>{{model.cast.name}}</h3>
            <hr class="colorgraph">
            <h4>Birthday: {{model.cast.birthday |date:'mediumDate'}}</h4>
            <h4>Place of Birth: {{model.cast.place_of_birth}}</h4>
            <br>
            <h4>BIO</h4>
            <hr class="colorgraph">
            <p>
                {{model.cast.biography}}
            </p>
        </div>
    </div>  
    <br>
    <div class="container-fluid">
        <div class="row">
            <h3>Related Movies</h3>
            <hr class="colorgraph">
                <ul>
                    <li ng-repeat="movie in model.relatedMovie | limitTo : 6" class="title">
                        <figure>
                            <a href="#!/movies/{{movie.id}}">
                                <img ng-src="https://image.tmdb.org/t/p/w92/{{movie.poster_path}}" src="https://image.tmdb.org/t/p/w92/{{movie.poster_path}}">
                            </a>
                            <figcaption>
                                <a class="ng-binding" href="#!/movies/{{movie.id}}">{{movie.title}}</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
        </div>
    </div>
</div>



