<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class=" searchbar col-sm-3 col-md-5 hidden-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="model.user._id" href="#!/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a ng-show="!model.user._id" href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a ng-show="!model.user._id" href="#!/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                <li><a ng-show="model.user._id" ng-click="model.logout()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>

        </div>

        <div class=" searchbar visible-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="bdy container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="profile">
                <img class="img img-responsive" ng-src="https://image.tmdb.org/t/p/w500//{{model.movie.poster_path}}" src="https://image.tmdb.org/t/p/w500//{{model.movie.poster_path}}">
            </div>
        </div>
        <div class="col-lg-8 col-sm-8 col-md-8">
            <h3>{{model.movie.title}}</h3>
            <hr class="colorgraph">
            <h4>Plot</h4>
            <p>{{model.movie.overview}}</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div ng-repeat="genre in model.movie.genres">
                    <span class="label label-success arrowed">
                        <a href="#!/genre/movies/{{genre.id}}/{{genre.name}}">{{genre.name}}</a></span>
                    </div>
                    <br>
                    <br>
                    <h4>
                        <span class="glyphicon glyphicon-time"></span> {{model.movie.runtime}} MINS
                    </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4>IMDB Rating</h4>
                    <span class="glyphicon glyphicon-heart"> {{model.IMDBMovie.Ratings[0].Value}}</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>CAST</h3>
    <hr class="colorgraph">
    <div class="row">
        <ul>
            <li ng-repeat="cast in model.Casts | limitTo:10" ng-if="cast.profile_path" class="title">
                <figure>
                    <a href="#!/cast/{{cast.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w92/{{cast.profile_path}}" src="https://image.tmdb.org/t/p/w92/{{cast.profile_path}}">
                    </a>
                    <figcaption>
                        <a class="ng-binding" href="#!/cast/{{cast.id}}">{{cast.name}}</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-7 col-md-7">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Critic Reviews">
                                <md-content class="md-padding">
                                        <h3>CRITIC REVIEWS</h3>
                                        <hr class="colorgraph">
                                        <div ng-repeat="review in model.reviews | limitTo : 3">
                                            <h4><span class="glyphicon glyphicon-user"> {{review.author}}</span></h4>
                                            <p>{{review.content}}</p>
                                        </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="User Reviews">
                                <md-content class="md-padding">
                                    <h3>USER REVIEWS</h3>
                                    <hr class="colorgraph">
                                    <div ng-repeat="review in model.UserReviews">
                                        <h4><a ng-click="model.getProfile(review._userId)"><span class="glyphicon glyphicon-user btn btn-link"> {{review.author}}</span></a>
                                            <a ng-click="model.reviewDownVote(review._id)">
                                                <i class="fa fa-thumbs-down pull-right" aria-hidden="true"> {{review.downVotes.length}}</i>
                                            </a>
                                            <a ng-click="model.reviewUpVote(review._id)">
                                                <i class="fa fa-thumbs-up pull-right" aria-hidden="true"> {{review.upVotes.length}}</i>
                                            </a>
                                        </h4>
                                        <p>{{review.content}}</p>
                                        <hr>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <div class="col-lg=5 col-md-5">
                <h4>Write a Review</h4>
                <hr class="colorgraph">
                <div class="container-fluid">
                    <h6 ng-show="!model.user._id">Login to review</h6>
                    <textarea class="col-xs-12" rows="6" ng-disabled="!model.user._id" ng-model="model.newReview.content">
                </textarea>
                    <button ng-click="model.createReview(model.newReview)" class="btn btn-primary btn-block btn-sm" ng-disabled="!model.user._id">Submit Review</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <h3>Related Movies <span style="float:right;">
                <h4 class="pull-right btn btn-sm btn-link"><a href="#!/related/{{model.movieId}}">See more..</a></h4></span></h3>
            <hr class="colorgraph">
            <div class="col-lg-4 col-md-6" ng-repeat="movie in model.TMDBRelatedMovies | limitTo : 3">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-4by3">
                        <!--<iframe ng-src="{{movie.video_url}}"></iframe>-->
                        <!-- ngIf: !movie.video_url -->
                        <a href="#!/movies/{{movie.id}}" class="ng-scope">
                            <img ng-src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}" src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}">
                        </a><!-- end ngIf: !movie.video_url -->
                    </div>
                    <div class="text-center btn btn-link ">{{movie.title}}</div>
                    <div class="text-left">Release Date : {{movie.release_date |date:'mediumDate'}}</div>
                    <div>
                    <span class="label label-success arrowed" ng-repeat="genre in movie.genre_ids">
                        <a href="#!/genre/movies/{{genre.id}}/{{genre.name}}">{{genre.name}}</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
