<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#!/">Moviesta</a>
            <a class="navbar-brand visible-xs" href="#!/">
                <span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class=" searchbar col-sm-3 col-md-5 hidden-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#!/movies/trailers"> TRAILERS</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-phone"></span> Contact</a></li>
                <li><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#!/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
            </ul>

        </div>

        <div class=" searchbar visible-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <div class="profile">
                <img class="img img-responsive" ng-src="https://image.tmdb.org/t/p/w500//{{model.movie.poster_path}}" src="https://image.tmdb.org/t/p/w500//{{model.movie.poster_path}}">
            </div>
        </div>
        <div class="col-lg-8 col-sm-8 col-md-8">
            <h3>{{model.movie.title}}</h3>
            <hr class="colorgraph">
            <h4>Plot</h4>
            <p>{{model.movie.overview}}</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div ng-repeat="genre in model.movie.genres">
                    <span class="label label-success arrowed">
                        <a href="#!/genre/movies/{{genre.id}}/{{genre.name}}">{{genre.name}}</a></span>
                    </div>
                    <br>
                    <br>
                    <h4>
                        <span class="glyphicon glyphicon-time"></span> {{model.movie.runtime}} MINS
                    </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4>IMDB Rating</h4>
                    <span class="glyphicon glyphicon-heart"> {{model.IMDBMovie.Ratings[0].Value}}</span>
                    <h4>User Rating</h4>
                    <span class="glyphicon glyphicon-heart"></span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>CAST</h3>
    <hr class="colorgraph">
    <div class="row">
        <ul>
            <li ng-repeat="cast in model.Casts | limitTo:10" ng-if="cast.profile_path" class="title">
                <figure>
                    <a href="#!/cast/{{cast.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w92/{{cast.profile_path}}" src="https://image.tmdb.org/t/p/w92/{{cast.profile_path}}">
                    </a>
                    <figcaption>
                        <a class="ng-binding" href="#!/cast/{{cast.id}}">{{cast.name}}</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-7 col-md-7">
            <h3>CRITIC REVIEWS</h3>
            <div ng-repeat="review in model.reviews | limitTo : 3">
                <hr class="colorgraph">
                <h4><span class="glyphicon glyphicon-user"> {{review.author}}</span></h4>
                <p>{{review.content}}</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5">
            <h3>USER REVIEWS</h3>
            <hr class="colorgraph">

            <div class="container-fluid">
                <textarea class="col-xs-12" rows="6">
                </textarea>
                <button class="btn btn-primary btn-block btn-sm">Submit Review</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h3>Related Movies</h3>
            <hr class="colorgraph">
            <div class="col-lg-4 col-md-6" ng-repeat="movie in model.TMDBRelatedMovies | limitTo : 5">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-4by3">
                        <!--<iframe ng-src="{{movie.video_url}}"></iframe>-->
                        <!-- ngIf: !movie.video_url -->
                        <a href="#!/movies/{{movie.id}}" class="ng-scope">
                            <img ng-src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}" src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}">
                        </a><!-- end ngIf: !movie.video_url -->
                    </div>
                    <div class="text-center btn btn-link ">{{movie.title}}</div>
                    <div class="text-left">Release Date : {{movie.release_date |date:'mediumDate'}}</div>
                    <div>
                    <span class="label label-success arrowed" ng-repeat="genre in movie.genre_ids">
                        <a href="#!/genre/movies/{{genre.id}}/{{genre.name}}">{{genre.name}}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
