<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#!/">Moviesta</a>
            <a class="navbar-brand visible-xs" href="#!/">
                <span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class=" searchbar col-sm-3 col-md-5 hidden-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#!/TopRated"> TopRated</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="model.user._id" href="#!/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a ng-show="!model.user._id" href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a ng-show="!model.user._id" href="#!/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                <li><a ng-show="model.user._id" ng-click="model.logout()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>

        </div>

        <div class=" searchbar visible-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="./images/loginhead.jpg" ng-src="{{model.user.url}}" src="{{model.user.url}}">
                </div>
                <div ng-show="!model.isfollow" ng-click="model.followUser()" class="btn btn-success btn-sm">follow</div>
                <div ng-show="model.isfollow" ng-click="model.unFollow()" class="btn btn-danger btn-sm">Unfollow</div>
                <div class="info">
                    <div class="desc">{{model.user.username}}</div>
                    <div class="desc">{{model.user.email}}</div>
                </div>
            </div>

        </div>
        <div class="col-lg-9 col-sm-6">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Followers">
                        <md-content class="md-padding">
                            <div ng-repeat="user in model.Followers">
                                <div class="row">
                                <div class="avatar1 pull-left">
                                    <img ng-show="user.url" ng-src="{{user.url}}" src="{{user.url}}">
                                    <img ng-show="!user.url" ng-src="./images/loginhead.jpg" src="./images/loginhead.jpg">
                                </div>
                                <h4 class="pull-left">
                                    <a ng-click="model.getProfile(user._id)" class="btn btn-link"> {{user.username}}</a>
                                </h4>
                            </div>
                                <hr>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Following">
                        <md-content class="md-padding">
                            <div ng-repeat="user in model.Following">
                                <div class="row">
                                <div class="avatar1 pull-left">
                                    <img ng-show="user.url" ng-src="{{user.url}}" src="{{user.url}}">
                                    <img ng-show="!user.url" ng-src="./images/loginhead.jpg" src="./images/loginhead.jpg">
                                </div>
                                <h4 class="pull-left">
                                    <a ng-click="model.getProfile(user._id)" class="btn btn-link"> {{user.username}}</a>
                                </h4>
                            </div>
                            <hr>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Reviews">
                        <md-content class="md-padding">
                            <div ng-repeat="review in model.userGivenReviews">
                                <h4><a href="#!/movies/{{review.tmdbMovieId}}" class="btn btn-link"> {{review.movieName}}</a>
                                    <a ng-click="model.reviewDownVote(review._id)">
                                        <i class="fa fa-thumbs-down pull-right" aria-hidden="true"> {{review.downVotes.length}}</i>
                                    </a>

                                    <a ng-click="model.reviewUpVote(review._id)">
                                        <i class="fa fa-thumbs-up pull-right" aria-hidden="true"> {{review.upVotes.length}}</i>
                                    </a>
                                </h4>
                                <p>{{review.content}}</p>
                                <hr>
                            </div>

                        </md-content>
                    </md-tab>

                </md-tabs>
            </md-content>
        </div>
        </div>
    </div>
</div>