<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#!/">Moviesta</a>
            <a class="navbar-brand visible-xs" href="#!/">
                <span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class=" searchbar col-sm-3 col-md-5 hidden-xs" style="padding-top: 10px">
        <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
            <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
        </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#!/TopRated"> TopRated</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="model.user._id" href="#!/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-phone"></span> Contact</a></li>
                <li><a ng-show="!model.user._id" href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a ng-show="!model.user._id" href="#!/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                <li><a ng-show="model.user._id" ng-click="model.logout()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>

            </ul>

        </div>

        <div class=" searchbar visible-xs" style="padding-top: 10px">
            <form ng-submit="model.searchMovieTMDB(query)" class="ng-pristine ng-valid">
                <input type="text" ng-model="query" class="form-control ng-pristine ng-valid ng-touched" name="query" placeholder="Search...">
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item" ng-class="{active:!$index}" ng-repeat="movie in model.TMDBmovies">
                    <a href="#!/movies/{{movie.id}}" class="ng-scope">
                        <img class="center-block" ng-src="https://image.tmdb.org/t/p/w780//{{movie.backdrop_path}}" src="https://image.tmdb.org/t/p/w780//{{movie.backdrop_path}}">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{movie.title}}</h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="" ng-click="model.slide('prev')" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="" ng-click="model.slide('next')" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

    </div>
</div>
<div class="container-fluid">
<hr class="colorgraph">
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="New Movies">
                <md-content class="md-padding">
                    <h3 class="md-display-2">New Movies</h3>
                    <div class="row" >
                        <hr class="colorgraph">
                        <div class="col-lg-4 col-md-6" ng-repeat="movie in model.TMDBmovies">
                            <div class="thumbnail">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <!--<iframe ng-src="{{movie.video_url}}"></iframe>-->
                                    <!-- ngIf: !movie.video_url -->
                                    <a href="#!/movies/{{movie.id}}" class="ng-scope">
                                        <img ng-src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}" src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}">
                                    </a><!-- end ngIf: !movie.video_url -->
                                </div>
                                <div class="text-center btn btn-link ">{{movie.title}}</div>
                                <div class="text-left">Release Date : {{movie.release_date |date:'mediumDate'}}</div>
                                <div>
                    <span class="label label-success arrowed" ng-repeat="genre in movie.genre_ids | limitTo : 5">
                        <a href="#!/genre/movies/{{genre.id}}/{{genre.name}}">{{genre.name}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Upcoming Movies">
                <md-content class="md-padding">
                    <h3 class="md-display-2">Upcoming Movies</h3>
                    <div class="row" >
                        <hr class="colorgraph">
                        <div class="col-lg-4 col-md-6" ng-repeat="movie in model.TMDBmoviesUpcoming">
                            <div class="thumbnail">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <!--<iframe ng-src="{{movie.video_url}}"></iframe>-->
                                    <!-- ngIf: !movie.video_url -->
                                    <a href="#!/movies/{{movie.id}}" class="ng-scope">
                                        <img ng-src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}" src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}">
                                    </a><!-- end ngIf: !movie.video_url -->
                                </div>
                                <div class="text-center btn btn-link ">{{movie.title}}</div>
                                <div class="text-left">Release Date : {{movie.release_date |date:'mediumDate'}}</div>
                                <div>
                    <span class="label label-success arrowed" ng-repeat="genre in movie.genre_ids | limitTo : 5">
                        <a href="#!/genre/movies/{{genre.id}}/{{genre.name}}">{{genre.name}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   </md-content>
            </md-tab>

        </md-tabs>
    </md-content>
</div>
</div>

<!--models-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact developer</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
